.banner-banner {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: #0F1015;
}
.banner-captions {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.banner-caption {
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.banner-text {
  color: rgb(246, 245, 237);
  font-size: 14px;
  text-align: center;
}
.banner-link {
  color: rgb(246, 245, 237);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.banner-link:hover {
  color: grey;
}
.banner-link1 {
  display: contents;
}
.banner-caption1 {
  gap: 4px;
  width: 100%;
  display: none;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.banner-text1 {
  color: rgb(246, 245, 237);
  font-size: 14px;
  text-align: center;
}
.banner-text2 {
  color: rgb(246, 245, 237);
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
}
.banner-text2:hover {
  color: grey;
}
.banner-close {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.banner-icon {
  fill: #ffffff;
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
  transition: 0.3s;
}
.banner-icon:hover {
  fill: grey;
}
@media(max-width: 479px) {
  .banner-caption {
    display: none;
  }
  .banner-caption1 {
    display: flex;
    padding-left: 0px;
  }
  .banner-icon {
    display: none;
  }
}

.icon-container-icon-container {
  position: relative;
}
.icon-container-icon {
  width: 16px;
  height: 16px;
  display: none;
}
.icon-container-icon2 {
  width: 16px;
  height: 16px;
}



































.branding-branding {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.branding-logo {
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.branding-company-name {
  color: #222223;
  font-size: 36px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 54px;
}






@media(max-width: 767px) {
  .branding-logo {
    width: 15px;
    height: 15px;
  }
  .branding-company-name {
    font-size: 21px;
    line-height: 32px;
  }
}

.donate-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.donate-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.donate-navlink {
  display: contents;
}
.donate-image {
  width: auto;
  height: 132px;
  text-decoration: none;
}
.donate-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.donate-links {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: var(--dl-size-size-xlarge);
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-link {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-link1 {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-link2 {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-link3 {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-link4 {
  align-self: center;
  text-align: center;
  text-decoration: none;
}
.donate-buttons {
  width: 300px;
  height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.donate-text {
  width: auto;
  height: 30px;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.donate-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.donate-navlink1 {
  width: auto;
  text-decoration: none;
}
.donate-container02 {
  flex: 1;
  width: auto;
  height: 20px;
  align-self: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.donate-container03 {
  display: contents;
}
.donate-burger-menu {
  display: none;
}
.donate-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.donate-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.donate-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.donate-logo {
  height: 2rem;
}
.donate-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.donate-text03 {
  width: auto;
  height: 30px;
  font-size: 24px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.donate-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.donate-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-login {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.donate-container06 {
  flex: 1;
  width: auto;
  height: 20px;
  align-self: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
}
.donate-container07 {
  display: contents;
}
.donate-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.donate-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.donate-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.donate-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.donate-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.donate-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.donate-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.donate-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.donate-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.donate-header {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.donate-heading {
  width: 100%;
  font-size: 56px;
  max-width: 640px;
  font-style: normal;
  text-align: center;
  font-family: "Lora";
  font-weight: 500;
  line-height: 72px;
}
.donate-caption {
  width: 100%;
  font-size: 20px;
  max-width: 640px;
  text-align: center;
  line-height: 30px;
}
.donate-amount {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-row {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.donate-button1 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.donate-row1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-button2 {
  color: rgb(255, 255, 255);
  padding-right: 29px;
  background-color: rgb(0, 0, 0);
}
.donate-button3 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.donate-main {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 646px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.donate-content01 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.donate-hero-section {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  flex-direction: column;
}
.donate-header01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-heading1 {
  color: #222223;
  font-size: 70px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 91px;
}
.donate-caption1 {
  color: #222223;
  font-size: 20px;
  line-height: 30px;
}
.donate-buttons2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.donate-button4 {
  color: #F6F5ED;
  background-color: #000000;
}
.donate-image1 {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  background-image: url("public/heroimage-1400w.png");
}
.donate-mission {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 200px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.donate-content02 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.donate-main1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-title {
  color: #222223;
  font-style: normal;
  font-weight: 500;
}
.donate-header02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-heading2 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
}
.donate-caption2 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-highlights {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.donate-highlight {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 248px;
  align-items: flex-start;
  flex-direction: column;
}
.donate-title1 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-left-width: 1px;
}
.donate-description {
  color: rgb(34, 34, 35);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.donate-highlight1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 248px;
  align-items: flex-start;
  flex-direction: column;
}
.donate-title2 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-left-width: 1px;
}
.donate-description1 {
  color: rgb(34, 34, 35);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.donate-images {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.donate-image2 {
  width: 367px;
  object-fit: cover;
}
.donate-row2 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.donate-image3 {
  right: 0px;
  width: 333px;
  bottom: 0px;
  z-index: 100;
  position: absolute;
  object-fit: cover;
}
.donate-quote-one {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  background-color: #F6F5ED;
}
.donate-quote-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
}
.donate-quote {
  color: rgb(34, 34, 35);
  width: 100%;
  font-size: 32px;
  max-width: 900px;
  font-style: italic;
  font-family: Lora;
  font-weight: 500;
  line-height: 48px;
}
.donate-quoted {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: row;
}
.donate-image4 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-color: #222223;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.donate-caption3 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  font-style: italic;
  font-family: Lora;
  font-weight: 500;
}
.donate-quote-two {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #E8E6DA;
}
.donate-content03 {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.donate-video {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-video1 {
  width: 100%;
  height: 100%;
}
.donate-play {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-button5 {
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-twounits);
  transition: 0.3s;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.donate-button5:hover {
  fill: rgb(121, 212, 144) !important;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-color: rgb(121, 212, 144);
  border-width: 3px;
}
.donate-icon10 {
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-quote-content1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donate-quote1 {
  color: rgb(34, 34, 35);
  width: 100%;
  font-size: 24px;
  max-width: 500px;
  font-style: italic;
  text-align: center;
  font-family: Lora;
  font-weight: 400;
  line-height: 36px;
}
.donate-quoted1 {
  gap: 4px;
  width: 100%;
  display: flex;
  max-width: 500px;
  align-items: center;
  flex-direction: column;
}
.donate-caption4 {
  color: rgb(34, 34, 35);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: Lora;
  font-weight: 500;
}
.donate-caption5 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  text-align: center;
}
.donate-donation-use {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.donate-header03 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.donate-heading3 {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
}
.donate-caption6 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-accordion {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.donate-header04 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-text10 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.donate-text11 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-header05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-text12 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.donate-text13 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-header06 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-text14 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.donate-text15 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-header07 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-text16 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.donate-text17 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-header08 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.donate-text18 {
  color: rgb(34, 34, 35);
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  padding-right: var(--dl-space-space-unit);
}
.donate-text19 {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.donate-container09 {
  display: contents;
}
.donate-updates {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #E8E6DA;
}
.donate-content09 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 100px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 100px;
  justify-content: center;
}
.donate-details {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.donate-header09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.donate-heading4 {
  color: rgb(34, 34, 35);
  width: 100%;
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 400;
  line-height: 52px;
}
.donate-caption7 {
  color: rgb(34, 34, 35);
  width: 100%;
  font-size: 18px;
  line-height: 27px;
}
.donate-action {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.donate-input {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.donate-textinput {
  color: #222223;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.donate-agreement {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.donate-states {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.donate-checkbox {
  width: 24px;
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: flex-start;
  border-color: #222223;
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  background-color: #ffffff;
}
.donate-checkbox1 {
  width: 24px;
  cursor: pointer;
  height: 24px;
  display: none;
  align-items: center;
  border-color: #222223;
  border-style: solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(121, 212, 144);
}
.donate-icon12 {
  width: 10px;
  height: 10x;
}
.donate-caption8 {
  gap: 4px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.donate-normal {
  color: rgb(34, 34, 35);
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.donate-bold {
  color: rgb(34, 34, 35);
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.donate-container11 {
  display: contents;
}
.donate-slider {
  gap: 115px;
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-slides {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.donate-image5 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.donate-text20 {
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 31px;
}
.donate-image6 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.donate-text21 {
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 31px;
}
.donate-image7 {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.donate-text24 {
  font-size: 24px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 31px;
}
.donate-buttons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.donate-buttons3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.donate-previous {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: transparent;
}
.donate-icon14 {
  width: 18px;
  height: 18px;
}
.donate-next {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  background-color: transparent;
}
.donate-icon16 {
  width: 18px;
  height: 18px;
}
.donate-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #79D590;
}
.donate-top1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  border-color: #222223;
  border-style: dashed;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.donate-navigation-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.donate-link5 {
  text-decoration: none;
}
.donate-link6 {
  text-decoration: none;
}
.donate-link7 {
  text-decoration: none;
}
.donate-link8 {
  text-decoration: none;
}
.donate-middle {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 250px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.donate-text27 {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Lora;
  font-weight: 500;
  line-height: 36px;
}
.donate-text28 {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Lora;
  font-weight: 500;
  line-height: 36px;
}
.donate-bottom {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #222223;
  border-style: dashed;
  flex-direction: column;
  justify-content: center;
  border-top-width: 1px;
}
.donate-copyright {
  color: rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
}
.donate-container13 {
  display: contents;
}
.donate-container15 {
  display: contents;
}
@media(max-width: 991px) {
  .donate-logo {
    width: var(--dl-size-size-xlarge);
    height: auto;
  }
  .donate-login {
    width: var(--dl-size-size-large);
  }
  .donate-content {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .donate-main {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-threeunits);
  }
  .donate-heading1 {
    font-size: 36px;
    line-height: 46px;
  }
  .donate-caption1 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-buttons2 {
    flex-direction: column;
  }
  .donate-mission {
    gap: var(--dl-space-space-twounits);
  }
  .donate-quote-one {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .donate-quote-two {
    height: 100%;
  }
  .donate-content03 {
    gap: var(--dl-space-space-threeunits);
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-video {
    width: 100%;
  }
  .donate-donation-use {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .donate-content09 {
    align-items: flex-start;
    padding-top: var(--dl-space-space-sixunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .donate-details {
    width: 100%;
  }
  .donate-input {
    width: 100%;
  }
  .donate-textinput {
    flex: 1;
  }
  .donate-button6 {
    width: 30%;
  }
  .donate-slider {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    flex-direction: column;
  }
  .donate-buttons3 {
    flex-direction: row;
  }
  .donate-footer {
    width: 100%;
    padding-top: var(--dl-space-space-sixunits);
  }
}
@media(max-width: 767px) {
  .donate-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .donate-desktop-menu {
    display: none;
  }
  .donate-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .donate-logo {
    width: 150px;
    height: auto;
  }
  .donate-text03 {
    align-self: center;
  }
  .donate-container05 {
    flex: 0.5;
    width: 291px;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .donate-buttons1 {
    flex: 1;
    width: auto;
    margin-top: 0px;
    justify-content: center;
  }
  .donate-login {
    width: auto;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-container06 {
    width: 120px;
    padding-left: 0px;
  }
  .donate-icon02 {
    width: var(--dl-size-size-medium);
    height: auto;
  }
  .donate-navlink2 {
    width: 300px;
    font-size: 50px;
    text-align: left;
    line-height: 2;
    border-color: var(--dl-color-gray-black);
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
  }
  .donate-navlink3 {
    width: 300px;
    font-size: 50px;
    text-align: left;
    line-height: 2;
    margin-left: 0;
    border-color: var(--dl-color-gray-black);
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    background-color: #f1f1f1;
  }
  .donate-navlink4 {
    width: 300px;
    font-size: 50px;
    text-align: left;
    line-height: 2;
    margin-left: 0;
    border-color: var(--dl-color-gray-black);
    border-width: 3px;
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-unit);
    background-color: #f1f1f1;
  }
  .donate-content {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-amount {
    max-width: 1000%;
  }
  .donate-main {
    gap: var(--dl-space-space-threeunits);
    height: 800px;
    position: relative;
    padding-left: 0px;
    flex-direction: column;
  }
  .donate-content01 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-button4 {
    display: none;
  }
  .donate-image1 {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-position: center;
  }
  .donate-mission {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .donate-content02 {
    max-width: 100%;
  }
  .donate-images {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .donate-row2 {
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-end;
  }
  .donate-image3 {
    bottom: var(--dl-space-space-halfunit);
    position: static;
  }
  .donate-quote-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-quote-content1 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-donation-use {
    gap: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .donate-header03 {
    max-width: 100%;
  }
  .donate-accordion {
    width: 100%;
  }
  .donate-content09 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .donate-slider {
    gap: var(--dl-space-space-threeunits);
  }
  .donate-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .donate-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .donate-mobile-menu {
    flex: 1;
    height: auto;
    padding: 16px;
    position: static;
  }
  .donate-nav {
    width: 422px;
  }
  .donate-container04 {
    flex: auto;
    width: var(--dl-size-size-xsmall);
  }
  .donate-container05 {
    width: var(--dl-size-size-xlarge);
  }
  .donate-icon02 {
    width: var(--dl-size-size-small);
    height: auto;
  }
  .donate-links1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .donate-navlink2 {
    background-color: #f1f1f1;
  }
  .donate-content {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-heading {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-amount {
    flex-direction: column;
  }
  .donate-row {
    width: 100%;
  }
  .donate-row1 {
    width: 100%;
  }
  .donate-content01 {
    gap: var(--dl-space-space-threeunits);
  }
  .donate-mission {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-title {
    font-size: 12px;
  }
  .donate-header02 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .donate-heading2 {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-caption2 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-highlights {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .donate-highlight {
    gap: var(--dl-space-space-unit);
  }
  .donate-title1 {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-highlight1 {
    gap: var(--dl-space-space-unit);
  }
  .donate-title2 {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-image2 {
    width: 200px;
  }
  .donate-image3 {
    width: 200px;
  }
  .donate-quote-one {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-quote-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .donate-quote {
    font-size: 18px;
    text-align: center;
    line-height: 27px;
  }
  .donate-quoted {
    flex-direction: column;
    justify-content: center;
  }
  .donate-image4 {
    width: 40px;
    height: 40px;
  }
  .donate-caption3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }
  .donate-button5 {
    padding: var(--dl-space-space-unit);
  }
  .donate-icon10 {
    width: 8px;
    height: 8px;
  }
  .donate-quote-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .donate-quote1 {
    font-size: 18px;
    line-height: 27px;
  }
  .donate-caption4 {
    font-size: 16px;
  }
  .donate-caption5 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-donation-use {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-heading3 {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-caption6 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-element {
    gap: var(--dl-space-space-halfunit);
  }
  .donate-text10 {
    font-size: 16px;
  }
  .donate-text11 {
    line-height: 24px;
  }
  .donate-element1 {
    gap: var(--dl-space-space-halfunit);
  }
  .donate-text12 {
    font-size: 16px;
  }
  .donate-text13 {
    line-height: 24px;
  }
  .donate-element2 {
    gap: var(--dl-space-space-halfunit);
  }
  .donate-text14 {
    font-size: 16px;
  }
  .donate-text15 {
    line-height: 24px;
  }
  .donate-element3 {
    gap: var(--dl-space-space-halfunit);
  }
  .donate-text16 {
    font-size: 16px;
  }
  .donate-text17 {
    line-height: 24px;
  }
  .donate-element4 {
    gap: var(--dl-space-space-halfunit);
  }
  .donate-text18 {
    font-size: 16px;
  }
  .donate-text19 {
    line-height: 24px;
  }
  .donate-content09 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .donate-heading4 {
    font-size: 30px;
    line-height: 40px;
  }
  .donate-caption7 {
    font-size: 16px;
    line-height: 24px;
  }
  .donate-action {
    gap: var(--dl-space-space-threeunits);
  }
  .donate-input {
    flex-direction: column;
  }
  .donate-textinput {
    width: 100%;
    text-align: center;
  }
  .donate-button6 {
    width: 100%;
  }
  .donate-footer {
    padding-top: var(--dl-space-space-threeunits);
  }
  .donate-navigation-links {
    flex-direction: column;
  }
  .donate-text27 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-text28 {
    font-size: 18px;
    line-height: 40px;
  }
  .donate-bottom {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .donate-copyright {
    font-size: 10px;
    line-height: 15px;
  }
}
